<p>
    Ce site utilise les données d’<a href="http://www.openstreetmap.org/">OpenStreetMap</a>
    pour afficher les horaires d’ouverture.
</p>

<p>
    Si vous souhaitez ajouter ou corriger des horaires, il suffit de renseigner le
    tag <a href="https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours">opening_hours</a>,
    <a href="https://wiki.openstreetmap.org/wiki/FR:Key:amenity">amenity</a> (pour
    le type d’établissement) et <a href="https://wiki.openstreetmap.org/wiki/FR:Key:name">name</a>.
</p>

<p>
    Concernant le code du site, il est également libre et peux être récupéré sur
    <a href="https://github.com/sanpii/opening-hours">github</a>.
</p>

<p>
    Donnée &copy; contributeurs <a href="http://openstreetmap.org">OpenStreetMap</a>,
    <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,
    Imagerie © <a href="http://mapbox.com">Mapbox</a>
</p>
