<header>
    <h3 class="text-muted">Opening hours</h3>
</header>

<form>
    <fieldset class="form-group">
        <input type="text" ng-model="where" placeholder="Où ?" class="form-control" required />
    </fieldset>

    <fieldset class="form-group">
        <input type="text" ng-model="what" placeholder="Quoi ?" class="form-control" />
    </fieldset>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="strict" /> Strict
        </label>
        <a class="help">
            ?
            <span class="tooltips alert alert-info">
                Par défaut, les nœuds sans type sont affichés.<br />
                Cochez cette options pour les masquer.
            </span>
        </a>

        <label>
            <input type="checkbox" ng-model="wo_hour" /> Sans horaire
        </label>
    </div>

    <button ng-click="search();" class="btn btn-primary">Rechercher</button>
</form>

<div id="map" ng-show="nodes.length > 0"></div>

<ul ng-show="nodes.length > 0">
    <li
        ng-repeat="node in nodes"
        class="{{ node.state }}"
    >
        <div>
            <span class="{{ node.icon }}"></span>
            {{ node.name }}
        </div>
        <div>{{ node.opening_hours }}</div>
    </li>
</ul>

<footer>
    Data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,
    <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,
    Imagery © <a href="http://mapbox.com">Mapbox</a>
</footer>
