<form>
    <fieldset class="form-group">
        <input type="text" ng-model="where" placeholder="Où ?" class="form-control" required />
    </fieldset>

    <fieldset class="form-group">
        <input type="text" ng-model="what" placeholder="Quoi ?" class="form-control" />
    </fieldset>

    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="strict" /> Strict
        </label>
        <a class="help">
            ?
            <span class="tooltips alert alert-info">
                Par défaut, les nœuds sans type sont affichés.<br />
                Cochez cette options pour les masquer.
            </span>
        </a>

        <label>
            <input type="checkbox" ng-model="wo_hour" /> Sans horaire
        </label>
    </div>

    <button ng-click="search();" class="btn btn-primary">Rechercher</button>
</form>

<div class="alert alert-danger" ng-show="where && nodes.length === 0">Aucun résultat.</div>

<div class="alert alert-info" ng-show="searching">Recherche en cours…</div>

<div id="map" ng-show="nodes.length > 0"></div>

<ul ng-show="nodes.length > 0">
    <li
        ng-repeat="node in nodes"
        class="{{ node.state }}"
    >
        <div>
            <span class="{{ node.icon }}"></span>
            {{ node.name }}
        </div>
        <div>{{ node.opening_hours }}</div>
    </li>
</ul>
