header {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 50px;
}

footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 50px;
}

.open {
    color: green;
}

.closed {
    color: red;
}

#map {
    height: 280px;
}
